:root {
  --main-font: "Roboto Slab", serif;
  --title-font-tiny: "Tiny5", sans-serif;
  --title-font-lobster: "Lobster", sans-serif;
  --color-text: #000;
  --color-background: #fdf3c1; /* Light yellow background */
  --color-1: #80cfa9; /* Light teal background */
  --color-2: #f37f7f; /* Light red background */
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  height: 100%;
  background-image: url("/src/assets/background.png");
  background-repeat: repeat;
  background-size: auto;
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 42px;
  font-family: var(--title-font-lobster);
  color: var(--color-background);
  text-shadow: 5px 2px var(--color-text);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  font-family: monospace;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.bytebar-header {
  font-size: 86px;
  margin-bottom: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.top-panel {
  background-color: var(--color-1);
  padding: 1.5rem;
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;
}

.bottom-panel {
  background-color: var(--color-2);
  width: 100%;
  max-width: 800px;
  padding: 1.5rem;
  border-radius: 20px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.input-field {
  width: 100%;
  box-sizing: border-box;
  border: solid var(--color-text);
  border-radius: 5px;
  padding: 4px 0 4px 10px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  display: block;
  margin-bottom: 4px;
}

.search-form {
  margin-bottom: 16px;
  width: max-content;
}

.random-field {
  border: solid var(--color-1);
  padding: 4px 20px 4px 10px;
  margin-right: 2px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
}

.random-container {
  margin-bottom: 10px;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  cursor: pointer;
  border: 3px solid;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 2px 2px 0px 0px,
    2px 2px 0px 0px;
  position: relative;
  touch-action: manipulation;
}

.button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
